name: Daily

on:
  workflow_dispatch:
  schedule:
    - cron: "0 22 * * *"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: main
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate new daily
        run: |
          python daily.py 
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          TIAN_API_KEY: ${{ secrets.TIAN_API_KEY }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
          BING_COOKIE: ${{ secrets.BING_COOKIE }}
          BING_URL: ${{ secrets.BING_URL }}
          WEATHER_CITY_CODE: ${{ secrets.WEATHER_CITY_CODE }}